/* line 13, ../style.scss */
.container:after, header nav ul:after {
  content: "";
  display: block;
  clear: both;
}

/* line 18, ../style.scss */
.flex {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  /* line 18, ../style.scss */
  .flex {
    height: auto;
    display: block;
    padding-top: 60px;
    text-align: center;
  }
}

/* line 31, ../style.scss */
.relative {
  position: relative;
}

/* line 34, ../style.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.625em;
}

/* line 41, ../style.scss */
.icon {
  width: 26px;
  height: 28px;
}

/* line 45, ../style.scss */
.back {
  position: absolute;
  top: -40px;
  right: 40px;
  font-weight: bold;
  color: #fff;
  background: #439fe0;
  text-decoration: none;
  padding: 0.625em 0.9375em;
  border-radius: 22px 5px 22px;
}
@media screen and (max-width: 767px) {
  /* line 45, ../style.scss */
  .back {
    top: -60px;
    right: 10px;
  }
}
/* line 61, ../style.scss */
.back:hover, .back:focus {
  background-color: #439fe0;
  color: #fff;
  border-radius: 5px 22px 5px;
}

/* line 67, ../style.scss */
.work, .contact {
  padding: 60px 0;
}

/* line 71, ../style.scss */
.current a {
  background: transparent;
  color: #439fe0;
  border-bottom: 2px solid #439fe0;
}
/* line 76, ../style.scss */
.current a:hover, .current a:focus {
  color: #439fe0;
}

/* line 84, ../style.scss */
html, body, ul {
  padding: 0;
  margin: 0;
}

/* line 88, ../style.scss */
body {
  background: #f9f9f9;
  color: #1f1f1f;
  font: 1em "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 93, ../style.scss */
a {
  color: #9e9ea6;
  transition: all 0.3s;
}
/* line 97, ../style.scss */
a:hover, a:focus {
  color: #439fe0;
  background: #fff;
}

/* line 105, ../style.scss */
header {
  background: #fff;
}
@media screen and (max-width: 767px) {
  /* line 105, ../style.scss */
  header {
    padding-top: 10px;
  }
}
/* line 112, ../style.scss */
header .logo {
  float: left;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  /* line 112, ../style.scss */
  header .logo {
    float: none;
    text-align: center;
  }
}
/* line 121, ../style.scss */
header .logo a {
  color: inherit;
  text-decoration: none;
}
/* line 125, ../style.scss */
header .logo a:hover, header .logo a:focus {
  color: #9e9ea6;
}
/* line 130, ../style.scss */
header .logo span {
  font-weight: lighter;
  font-size: 0.7em;
}
/* line 136, ../style.scss */
header nav {
  float: right;
  margin-top: 30px;
}
@media screen and (max-width: 767px) {
  /* line 136, ../style.scss */
  header nav {
    float: none;
    margin-top: 20px;
    text-align: center;
  }
}
/* line 145, ../style.scss */
header nav ul {
  list-style-type: none;
}
/* line 149, ../style.scss */
header nav ul li {
  float: left;
}
@media screen and (max-width: 767px) {
  /* line 149, ../style.scss */
  header nav ul li {
    float: none;
    display: inline-block;
  }
}
/* line 158, ../style.scss */
header nav ul li:last-child a {
  margin-right: 0;
}
/* line 163, ../style.scss */
header nav ul li a {
  display: block;
  color: #9e9ea6;
  text-decoration: none;
  border: none;
  padding: 0.125em 0;
  margin-right: 0.625em;
  position: relative;
}
/* line 173, ../style.scss */
header nav ul li a:before {
  content: "";
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #439fe0;
  opacity: 0.4;
  transform: scaleX(0.1);
  transition: opacity, transform 0.3s;
}
/* line 187, ../style.scss */
header nav ul li a:hover:before, header nav ul li a:focus:before {
  transform: scaleX(1);
  opacity: 1;
}
@media screen and (max-width: 767px) {
  /* line 163, ../style.scss */
  header nav ul li a {
    border-radius: 4px;
  }
}

/* line 203, ../style.scss */
.about h2 {
  font-size: 42px;
  font-weight: 400;
}

/* line 208, ../style.scss */
.social {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}
/* line 212, ../style.scss */
.social li {
  display: inline-block;
  text-align: center;
}
/* line 215, ../style.scss */
.social li a {
  padding: 20px;
}
/* line 218, ../style.scss */
.social li a:hover, .social li a:focus {
  opacity: 0.7;
  background: transparent;
}

/* line 225, ../style.scss */
#icon-facebook {
  fill: #214285;
}

/* line 228, ../style.scss */
#icon-twitter {
  fill: #1EA7E5;
}

@media screen and (min-width: 767px) {
  /* line 235, ../style.scss */
  .work {
    padding-top: 80px;
  }
}
/* line 240, ../style.scss */
.work .entry {
  font-size: 1.1em;
}
@media screen and (max-width: 767px) {
  /* line 240, ../style.scss */
  .work .entry {
    text-align: center;
  }
}

/* line 249, ../style.scss */
.showcase {
  padding-left: 0;
}
/* line 251, ../style.scss */
.showcase li {
  list-style-type: none;
  padding-left: 60px;
  background: transparent url(../images/arrow.png) 0 center no-repeat;
}
@media screen and (max-width: 767px) {
  /* line 251, ../style.scss */
  .showcase li {
    text-align: center;
    padding-left: 0;
    background: transparent;
    border-bottom: 2px solid #eee;
  }
  /* line 262, ../style.scss */
  .showcase li:last-child {
    border-bottom: none;
  }
}
/* line 267, ../style.scss */
.showcase li h3 {
  margin-bottom: 0;
}
/* line 271, ../style.scss */
.showcase li p {
  margin-top: 5px;
}

/* line 277, ../style.scss */
form {
  max-width: 650px;
  margin: 0 auto;
}
