/* line 12, ../style.scss */
.flex {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

/* line 18, ../style.scss */
.relative {
  position: relative;
}

/* line 21, ../style.scss */
.back {
  position: absolute;
  top: -40px;
  right: 40px;
  font-weight: bold;
}

/* line 27, ../style.scss */
.work, .contact {
  padding: 60px 0;
}

/* line 30, ../style.scss */
.jumbotron {
  background: #fff;
}

/* line 34, ../style.scss */
.current a {
  background: #eee;
  color: #9e9ea6;
  border-bottom: 2px solid #9e9ea6;
}

/* line 43, ../style.scss */
body {
  background: #fff;
  color: #1f1f1f;
}

/* line 49, ../style.scss */
header .logo {
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  /* line 49, ../style.scss */
  header .logo {
    float: none;
    display: block;
    text-align: center;
  }
}
/* line 59, ../style.scss */
header .navbar {
  border: none;
}
/* line 63, ../style.scss */
header .nav {
  text-align: center;
}
@media screen and (max-width: 767px) {
  /* line 63, ../style.scss */
  header .nav {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  /* line 69, ../style.scss */
  header .nav li {
    float: none;
    display: inline-block;
  }
}
/* line 75, ../style.scss */
header .nav li a {
  border-radius: 0;
  font-weight: bold;
  position: relative;
}
/* line 80, ../style.scss */
header .nav li a:before {
  content: "";
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #439fe0;
  opacity: 0.4;
  transform: scaleX(0.1);
  transition: opacity, transform 0.3s;
}
/* line 93, ../style.scss */
header .nav li a:hover:before, header .nav li a:focus:before {
  opacity: 1;
  transform: scaleX(1);
}
@media screen and (max-width: 767px) {
  /* line 75, ../style.scss */
  header .nav li a {
    border-radius: 4px;
  }
}

/* line 107, ../style.scss */
.about h1 {
  font-size: 48px;
}

/* line 111, ../style.scss */
.social {
  list-style-type: none;
  text-align: center;
  margin-top: 20px;
}
/* line 115, ../style.scss */
.social li {
  display: inline-block;
  text-align: center;
}
/* line 118, ../style.scss */
.social li a {
  font-size: 22px;
  margin-right: 20px;
}

@media screen and (min-width: 767px) {
  /* line 127, ../style.scss */
  .work {
    padding-top: 80px;
  }
}

/* line 134, ../style.scss */
.showcase li {
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  /* line 134, ../style.scss */
  .showcase li {
    text-align: center;
    border-bottom: 2px solid #eee;
  }
  /* line 140, ../style.scss */
  .showcase li:last-child {
    border-bottom: none;
  }
}
/* line 144, ../style.scss */
.showcase li h3 {
  margin-bottom: 0;
}

/* line 150, ../style.scss */
form {
  max-width: 650px;
  margin: 0 auto;
}
