/* line 6, ../style.scss */
body {
  background: #fff;
  color: #000;
}

/* line 11, ../style.scss */
.flex {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

/* line 19, ../style.scss */
header .logo {
  display: inline-block;
}
/* line 23, ../style.scss */
header .nav {
  margin-top: 20px;
}
