// Colors
$black: #000;
$white: #fff;
$dark:  #1f1f1f;
$gray:  #9e9ea6;
$l-gray: #eee;
$blue:  #439fe0;



// Important Classes
.flex {
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
}
.relative {
    position: relative;
}
.back {
    position: absolute;
    top: -40px;
    right: 40px;
    font-weight: bold;
}
.work, .contact {
    padding: 60px 0;
}
.jumbotron {
    background: $white;
}
.current {
    a {
        background: $l-gray;
        color: $gray;
        border-bottom: 2px solid $gray;
    }
}


// Styles
body {
    background: $white;
    color: $dark;
}

header {
    .logo {
        font-size: 36px;
        
        @media screen and (max-width: 767px) {
            float: none;
            display: block;
            text-align: center;
        }
    }
    
    .navbar {
        border: none;
    }
    
    .nav {
        text-align: center;
        @media screen and (max-width: 767px) {
            margin-top: 20px;
        }
        
        li {
            @media screen and (max-width: 767px) {
                float:  none;
                display: inline-block;
            }
            
            a {
                border-radius: 0;
                font-weight: bold;
                position: relative;
                
                &:before {
                      content: "";
                      position: absolute;
                      margin: 0 auto;
                      top: 100%;
                      left: 0;
                      width: 100%;
                      height: 2px;
                      background-color: #439fe0;
                      opacity: 0.4;
                      transform: scaleX(0.1);
                      transition: opacity, transform 0.3s;
                }
                &:hover:before, &:focus:before {
                    opacity: 1;
                    transform: scaleX(1);
                }
                @media screen and (max-width: 767px) {
                    border-radius: 4px;
                }
            }
        } // li
    }
}

// about section
.about {
    h1 {
        font-size: 48px;
    }
}
.social {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
    li {
        display: inline-block;
        text-align: center;
        a {
            font-size: 22px;
            margin-right: 20px;
        }
    }
}

// work section

.work {
    @media screen and (min-width: 767px) {
        padding-top: 80px;
    }
    
}
.showcase {
    li {
        list-style-type: none;
        @media screen and (max-width: 767px) {
            text-align: center;
            border-bottom: 2px solid #eee;
            
            &:last-child {
                border-bottom: none;
            }
        }
        h3 {
            margin-bottom: 0;
        }
    }
}
// contact section
form {
    max-width: 650px;
    margin: 0 auto;
}