// Colors
$black:     #000;
$white:     #fff;
$dark:      #3e3e3e;
$gray:      #9e9ea6;
$l-gray:    #eee;
$light:     #f9f9f9;  
$blue:      #439fe0;



// Important Classes
%group:after {
	content: "";
	display: block;
	clear: both;
}
.flex {
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    
    @media screen and (max-width: 767px) {
		height: auto;
        display: block;
        padding-top: 60px;
        text-align: center;
	}
}
.relative {
    position: relative;
}
.container {
    @extend %group;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0.625em; // 10px
}

.icon {
	width: 26px;
	height: 28px;
}
// .back {
//     position: absolute;
//     top: -40px;
//     right: 40px;
//     font-weight: bold;
//     color: $white;
//     background: $blue;
//     text-decoration: none;
//     padding: 0.625em 0.9375em;
//     border-radius: 22px 5px 22px;
    
//     @media screen and (max-width: 767px) {
//         top: -60px;
//         right: 10px;
//     }
    
//     &:hover, &:focus {
//         background-color: $blue;
//         color: $white;
//         border-radius: 5px 22px 5px;
//     }
// }
#work, #contact {
    padding: 60px 0;
}
.current {
    a {
        background: transparent;
        color: $blue;
        border-bottom: 2px solid $blue;
        
        &:hover, &:focus {
            color: $blue;
        }
    }
}

.hidden {
    display: none;
}

// Styles
html, body, ul {
    padding: 0;
    margin: 0;  
}
body {
    background: $light;
    color: $dark;
    font: 1em "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
a {
    color: $gray;
    transition: all 0.3s;
    
    &:hover, &:focus {
        color: $blue;
        background: $white;
    }
}


// header --------------------------------------
header {
    background: $white;
    
    @media screen and (max-width: 767px) {
        padding-top: 10px;
    }
    
    .logo {
        float: left;
        line-height: 1;
        margin-bottom: 10px;
        font-weight: bold;

        @media screen and (max-width: 767px) {
            float: none;
            text-align: center;
        }
        
        a {
            color: inherit;
            text-decoration: none;
            
            &:hover, &:focus {
                color: $gray;
            }
        }
        
        span {
            font-weight: lighter;
        }
    }// logo 
    
    nav {
        float: right;
        margin-top: 30px;
        @media screen and (max-width: 767px) {
            float: none;
            margin-top: 20px;
            text-align: center;
        }
        
        ul {
           @extend %group;
            list-style-type: none;

            li {
                float: left;
                
                @media screen and (max-width: 767px) {
                    float:  none;
                    display: inline-block;
                }
                
                &:last-child {
                    a {
                        margin-right: 0;
                    }
                } // li:last-child

                a {
                    display: block;
                    color: $gray;
                    text-decoration: none;
                    border: none;
                    padding: 0.125em 0;
                    margin-right: 0.625em;
                    position: relative;
                    

                    &:before {
                        content: "";
                        position: absolute;
                        margin: 0 auto;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $blue;
                        opacity: 0.4;
                        transform: scaleX(0.1);
                        transition: opacity, transform 0.3s;
                    }

                    &:hover:before, &:focus:before {
                        transform: scaleX(1);
                        opacity: 1;
                    }
                    @media screen and (max-width: 767px) {
                        border-radius: 4px;
                    }
                } // a
            } // li
        } // ul
    } // nav
} // header


// about section ---------------------------------
#about {
    h2 {
        font-size: 36px;
        font-weight: 400;
    }
}
.social {
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
    li {
        display: inline-block;
        text-align: center;
        a {
            padding: 20px;
            
            &:hover, &:focus {
                opacity: 0.7;
                background: transparent;
            }
        }
    }
}
#icon-facebook {
	fill: #214285;
}
#icon-twitter {
	fill: #1EA7E5;
}


// work section ---------------------------------

#work {
    @media screen and (min-width: 767px) {
        padding-top: 80px;
    }
    
    .entry { 
        font-size: 1.1em;
        
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
    
}
.showcase {
    padding-left: 0;
    li {
        list-style-type: none;
        padding-left: 60px;
        background: transparent url(../images/arrow.png) 0 center no-repeat;
        
        @media screen and (max-width: 767px) {
            text-align: center;
            padding-left: 0;
            background: transparent;
            border-bottom: 2px solid #eee;
            
            &:last-child {
                border-bottom: none;
            }
        } // @media ...
        
        h3 {
            margin-bottom: 0;
        }
        
        p {
            margin-top: 5px;
        }
    }
}
// contact section
form {
    max-width: 650px;
    margin: 0 auto;
}